<% include partials/header %>
<div class="container">
  <h1 class='text-center'>All Polls for <em><%= foundUser.username %></em></h1>

  <% foundUser.polls.forEach(function(userPoll){ %>


        <div id='singlePoll' class="text-center userPolls">

          <h3>
            <a href='/polls/<%= userPoll._id %>'><%= userPoll.pollName %></a>
            <span id= '<%= userPoll._id %>'class='pull-right link'>
              <form method='post' action='/<%= userPoll._id %>/userPolls'>
               <button class='btn btn-danger'name='<%= userPoll._id %>'>Delete</button>
              </form>
            </span>
          </h3>
        </div>


    <%  })  %>
  </div>



  <% include partials/footer %>
