<% include partials/header %>

<% var test = (foundPoll); %>
<% var dataArray = dataArray; %>
<% var test = (foundPoll); %>

<div class="text-center">
  <h1><%= foundPoll.pollName %></h1>
  <p>
    Some random description about <%= foundPoll.pollName %>
  </p>
  <h2>You Have Voted For: <strong><em><%= storedCookie %></strong></em></h2>
  </div>



<div class="container text-center">
      <div id='chart_div' class='voted-graph' align='center'>

      </div>
</div>

<script type='text/javascript'>
var foundPoll = <%- JSON.stringify(test)%>;
var dataArray = <%- JSON.stringify(dataArray) %>;

console.log(dataArray);
var labels = [];
var howMany = [];
for(var i = 0 ; i < dataArray.length; i ++){
labels.push(dataArray[i][0]);
howMany.push(dataArray[i][1]);
}
console.log(labels);

  var ctx = document.getElementById("myChart");

  var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
      labels: labels,
      datasets: [{
          label: '# of Votes',
          data: howMany,
          backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(153, 102, 255, 0.8)',
              'rgba(255, 159, 64, 0.8)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  }
});

</script>




  <% include partials/footer %>
