<% include partials/header %>

<% var test = (foundPoll); %>

<div class="text-center">
  <h1><%= foundPoll.pollName %></h1>
  <p>
    Some random description about <%= foundPoll.pollName %>
  </p>
</div>

<script type="text/javascript">

     // Load the Visualization API and the corechart package.
     google.charts.load('current', {'packages':['corechart']});

     // Set a callback to run when the Google Visualization API is loaded.
     google.charts.setOnLoadCallback(drawChart);

     // Callback that creates and populates a data table,
     // instantiates the pie chart, passes in the data and
     // draws it.
     function drawChart() {

        var foundPoll = <%- JSON.stringify(test) %>;
        console.log(foundPoll);

       // Create the data table.
       var data = new google.visualization.DataTable();
       data.addColumn('string', foundPoll.pollName);
       data.addColumn('number', 'Percentage');
       var dataArray = [];
       for(var key in foundPoll){
         if(key === 'item1' || key === 'item2' || key === 'item3'){
           dataArray.push([foundPoll.key, 1]);
         }
       }
       console.log(dataArray);
       data.addRows(dataArray);
       // Set chart options
       var options = {'title':foundPoll.pollName,
                      'width':500,
                      'height':500
                      };

       // Instantiate and draw our chart, passing in some options.
       var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
       chart.draw(data, options);
     }
   </script>

   <div class="container">
     <div class="">
       <form class="" action="/polls/<%= foundPoll._id %>" method="post" class='pull-right'>
         <label for="">I'd Like to Vote For:</label>
         <select class="" name="vote">
           <option></option>
           <option value=<%= foundPoll.item1 %>><%= foundPoll.item1 %> </option>
           <option value=<%= foundPoll.item2 %>><%= foundPoll.item2 %>></option>
           <option value=<%= foundPoll.item3 %>><%= foundPoll.item3 %>></option>
         </select>
         <button type="submit" name="button">Submit</button>
       </form>
     </div>
     <div id='chart_div' style="width:400; height:300">

     </div>
   </div>

   <% include partials/footer %>
